[Unit]
Description=Azazel Traffic Shaping Init
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/env bash /opt/azazel/bin/azazel-traffic-init.sh /opt/azazel/configs/network/azazel.yaml
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
